* {
  box-sizing: border-box;
}


html,body {
  height: 100%;
  width: 100%;
}

nav {
  background-color: black;
  height: 40%;
  width: 90%;
  color:white;
  font-family: 'Coming Soon', cursive;
  font-size: 2em;
  padding-left: 2%;
  margin-left: 5%;
}


body {
  background-color: #ededed;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1em;
  padding: 2%;
}


a {
  display: block;
  text-decoration: none;
  color: black;
}

.background {
  margin-top: 2%;
  width: 90%;
  height: 300px;
}

.preview {
  border: 1px solid black;
  border-radius: 3px;
}

footer {
  margin-left: 5%;
  margin-top: 40%;
  background-color: black;
  height: 20%;
  width: 90%;
  color:white;
  font-family: 'Coming Soon', cursive;
  font-size: 0.3em;
  padding-left: 2%;
}
